.form-page {
  background-image: url("../../Assets/bg-3.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px 0 20px 0;
}
.form-container {
  background-color: hsl(0, 0%, 100%, 0.2);
  backdrop-filter: blur(5px);
  padding: 1.5em;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px hsl(0, 0%, 0%, 0.5);
  animation: form-openning 0.3s ease;
  overflow: hidden;
}
@keyframes form-openning {
  from{
    width: 25%;
    opacity: 0;
  }
  to{
    width: 30%;
    opacity: 1;
  }
}
.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0 20px 0;
}
.form-toggle-button {
  border: none;
  font-size: medium;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%, 0.2);
  border-radius: 10px;
  color: #888;
  transition: all 0.3s;
}
.form-toggle-button.active,
.form-toggle-button:hover {
  background-color: hsl(0, 0%, 100%);
  color: var(--black-color);
}
.form-toggle-button.inactive {
  font-size: small;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form h3 {
  text-align: center;
}
.form input,
.form textarea,
.form select {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  min-width: 60%;
}
.form textarea {
  resize: vertical;
}
.form select {
  min-width: 65%;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: 2px solid var(--accent-color-2);
}
.form input[type="radio"] {
  min-width: 1em;
  outline: none;
}
.form-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  animation: fields-openning 1s ease;
}
@keyframes fields-openning {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 0.3s linear;
}
.payment-details,
.delivery-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delivery-options {
  display: flex;
  min-width: 65%;
  gap: 10px;
}
.gender-options {
  display: flex;
  min-width: 65%;
  gap: 10px;
}
.personal-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.personal-details .form-group {
  justify-content: space-between;
}
.personal-details .profile-image {
  justify-content: center;
}
.personal-details .remove-circle-border {
  border-radius: 0%;
}
.form-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.required {
  color: hsl(0, 100%, 50%);
  font-size: 18px;
}
.form-submit {
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
  font-size: 15px;
  background-color: var(--accent-color-2);
  margin-top: 20px;
  font-family: var(--font-family-special-1);
}
.form-submit:hover{
 background-color: hsl(42, 100%, 60%);
}
