* {
  margin: 0;
  padding: 0;
}
footer {
  background-color: var(--primary-color);
  font-family: var(--font-family-primary);
  color: var(--white-color);
  min-height: 200px;
}
footer hr {
  border: 1px solid var(--text-color);
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}
.footer-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 18%;
}
.footer-social {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.footer-social h2{
    cursor: pointer;
}
.footer-section h2,
h3 {
  margin: 0.8em 0;
}
.footer-section p {
  display: inline;
}
.footer-social h2 span {
  color: var(--accent-color-1);
}
.footer-icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-icons a{
  color: var(--white-color);
  font-size: large;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  transition: color 0.3s ease;
  transition: padding 0.3s ease;
}
.footer-icons a:hover {
  color: var(--accent-color-2);
  padding: 5px;
  border-radius: 20%;
  box-shadow: 0px 0px 5px var(--accent-color-2);
}
.foot-link {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 0.5em 0;
}
.foot-link a {
  color: var(--accent-color-1);
  text-decoration: none;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
.foot-link a:hover {
  color: var(--accent-color-2);
  margin-left: 5px;
  border-bottom: 2px solid;
}
.footer-bottom {
  padding: 10px;
  text-align: center;
}
