/* Details */

.profile-page {
  height: 100%;
  position: relative;
}
.account-profile-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.account-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  min-height: 100vh;
  margin: auto;
  transition: all 0.3s;
}
.profile-short-intro {
  grid-column: 2 / span 2;
}
.profile-buttons {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile-box-shadow {
  box-shadow: 0px 0px 5px hsl(0, 0%, 0%, 0.5);
  border-radius: 5px;
  padding: 10px;
  line-height: 1.5;
  transition: all 0.3s;
  animation: op-scale-openning 0.3s;
}
.profile-box-shadow:hover {
  box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.8);
  transform: translateY(-2px);
}
.profile-box-shadow p {
  padding: 5px;
}

.profile-intro-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
.profile-intro-title p {
  color: hsl(0, 0%, 0%, 0.6);
}
.profile-short-intro {
  display: flex;
  flex-direction: column;
}
.profile-short-intro .profile-short-end {
  align-content: end;
  flex-grow: 1;
  text-align: center;
}
.profile-short-highlight {
  color: var(--accent-color-1);
}

.profile-buttons button {
  border: none;
  padding: 10px;
  width: 10%;
  border-radius: 5px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--font-family-special-1);
}
.profile-buttons .logout {
  background-color: var(--accent-color-1);
}
.profile-buttons .logout:hover {
  background-color: var(--accent-color-1-hover);
}
.profile-buttons .edit {
  background-color: var(--secondary-color);
}
.profile-buttons .edit:hover {
  background-color: var(--secondary-color-hover);
}
.profile-buttons .delete {
  background-color: var(--tertiary-color);
}
.profile-buttons .delete:hover {
  background-color: var(--tertiary-color-hover);
}

/* Edit */

.profile-edit-page {
  position: absolute;
  top: 0;
  border-radius: 5px;
  left: 15%;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.5);
  background-image: url("../../../Assets/bg-3.jpg");
  background-size: cover;
  animation: op-scale-openning 0.3s;
}
.profile-edit-form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
  margin: 10px;
  margin-right: 30px;
  text-wrap: nowrap;
}
.profile-edit-box-design {
  box-shadow: 0px 0px 10px hsl(0, 0%, 0%, 0.5);
  backdrop-filter: blur(5px);
  background-color: hsl(0, 0%, 100%, 0.5);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}
.profile-edit-personal-details {
  grid-row: 1 / span 2;
}
.profile-edit-payment-details,
.profile-edit-delivery-details,
.profile-edit-personal-details {
  display: flex;
  flex-direction: column;
}
.profile-edit-buttons {
  grid-column: 1 / span 2;
}
.profile-edit-image svg {
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  position: relative;
  left: -35px;
  background-color: var(--text-secondary-color);
}
.profile-edit-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  animation: op-scale-openning 0.5s;
}
.profile-edit-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-edit-image {
  justify-content: center;
}
.profile-edit-payment-details .profile-edit-group {
  flex-direction: column;
}
.profile-edit-bank-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.profile-edit-group select,
.profile-edit-group textarea,
.profile-edit-group input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
  resize: vertical;
  transition: all 0.1s;
}
.profile-edit-group select:hover,
.profile-edit-group textarea:hover,
.profile-edit-group input:hover,
.profile-edit-group select:focus,
.profile-edit-group textarea:focus,
.profile-edit-group input:focus {
  outline: 2px solid var(--accent-color-2);
}
.profile-edit-group input[type="radio"]:focus,
.profile-edit-group input[type="radio"]:hover {
  outline: none;
}
.profile-edit-personal-details p {
  flex-basis: 80px;
}
.profile-edit-payment-details p,
.profile-edit-payment-details h4 {
  flex-basis: 50%;
}
.profile-edit-gender-options,
.profile-edit-delivery-options {
  flex-grow: 1;
  gap: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-edit-group input[type="radio"] {
  flex: 0;
}
.profile-edit-delivery-details p {
  flex-basis: 40%;
}
.profile-edit-form h3 {
  margin: 0;
}
.profile-edit-buttons button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: bold;
}
.profile-edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-edit-buttons .cancel {
  background-color: var(--tertiary-color);
}
.profile-edit-buttons .cancel:hover {
  background-color: var(--tertiary-color-hover);
}
.profile-edit-buttons .update {
  background-color: var(--accent-color-1);
}
.profile-edit-buttons .update:hover {
  background-color: var(--accent-color-1-hover);
}

/* Delete */

.profile-delete-confirmation-box {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  animation: op-slide-openning 0.3s;
}
.profile-delete-confirmation-box * {
  margin: 0.5em 0 0.5em 0;
}
.profile-delete-confirmation-box button {
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--white-color);
}
.profile-delete-confirmation-box-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.profile-delete-confirmation-box-buttons .cancel {
  background-color: var(--secondary-color);
}
.profile-delete-confirmation-box-buttons .cancel:hover {
  background-color: var(--secondary-color-hover);
}
.profile-delete-confirmation-box-buttons .delete {
  background-color: var(--tertiary-color);
}
.profile-delete-confirmation-box-buttons .delete:hover {
  background-color: var(--tertiary-color-hover);
}
